<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAvRO4uRWOnSnpn5f4za3X7gzsBjYq0Ta4</string>
	<key>GCM_SENDER_ID</key>
	<string>1063181542903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wiciu.Shopping-List-Manager</string>
	<key>PROJECT_ID</key>
	<string>shoppinglistmngr</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppinglistmngr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063181542903:ios:ac04993be969ca5cfdbaf2</string>
</dict>
</plist>